<h1>Users</h1>

<form action="/users" method="post">
  <input type="text" name="first_name" placeholder="first_name">
  <input type="text" name="last_name" placeholder="last_name">
  <input type="submit" value="submit">
</form>

<br><br>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>